.bg-elements {
    display: none;
    .arc1 {

    }

    .circle1 {
        
    }
    .circle2 {

    }
    .circle3 {

    }
    .circle4 {

    }
    .circle5 {

    }

    .circle6 {

    }

    .circle7 {

    }
    .circle8 {

    }
    .circle9 {

    }
    .saturn {

    }
    .rocket {

    }

}