@font-face {
    font-family: 'montserratlight';
    src: url("../fonts/montserrat-light-webfont.woff") format('woff'),
        url("../fonts/montserrat-light-webfont.woff2") format('woff2');
}
@font-face {
    font-family: 'montserratsemibold';
    src: url("../fonts/montserrat-semibold-webfont.woff") format('woff'),
        url("../fonts/montserrat-semibold-webfont.woff2") format('woff2');
}

@mixin light()
{
    font-family: 'montserratlight';
}

@mixin semibold()
{
    font-family: 'montserratsemibold';
}