body {
    margin: 0;
    overflow-x: hidden;
    section#main {
        @include light();
        background-color: #222222;
        background-image: url('../img/bg/space.svg');
        background-repeat: no-repeat;
        background-position: 100% 0;
        overflow: hidden;
        position: relative;
        .container {
            padding: 0;
            .row {
                &.header {
                    padding-top: 60px;

                    .social {
                        a {
                            text-decoration: none;
                        }
                        img {
                            margin-right: 15px;
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
                &.logo {
                    .ignite {
                        margin-top: 120px;
                        margin-bottom: 55.5px;
                    }
                }
                &.description {
                    font-size: 20px;
                    line-height: 31.6px;
                    color: #fff;
                    margin-bottom: 48px;
                }
                &.button {
                    padding-bottom: 145px;
                }
            }
            .bg-elements {
                display: block;
                .arc1 { 
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    border: 60px solid rgba(104, 0, 255, 0.2);
                    display: block;
                    position: absolute;
                    bottom: -150px;
                    left: -160px;
                }
                .circle1 { 
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    border: 1px solid rgba(104, 0, 255, 1);
                    display: block;
                    position: absolute;
                    top: -180px;
                    left: 500px;
                }
                .circle2 { 
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    background-color: rgba(104, 0, 255, 0.2);
                    display: block;
                    position: absolute;
                    top: -180px;
                    left: 570px;
                }
                .circle3 { 
                    width: 320px;
                    height: 320px;
                    background-image: url('../img/bg/circle-str-purple.svg');
                    background-repeat: no-repeat;
                    display: block;
                    position: absolute;
                    top: -150px;
                    right: -80px;
                }
                .circle4 { 
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    border: 1px solid rgba(255, 44, 52, 1);
                    display: block;
                    position: absolute;
                    top: -100px;
                    right: -90px;
                }
                .circle5 { 
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    background-color: rgba(255, 44, 52, .1);
                    display: block;
                    position: absolute;
                    top: 480px;
                    left: 1200px;
                }
                .circle6 { 
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    border: 1px solid rgba(255, 44, 52, 1);
                    display: block;
                    position: absolute;
                    top: 480px;
                    left: 1250px;
                }
                .circle7 { 
                    width: 320px;
                    height: 320px;
                    background-image: url('../img/bg/circle-stp-red.svg');
                    background-repeat: no-repeat;
                    display: block;
                    position: absolute;
                    top: 200px;
                    left: -140px;
                }
                .circle8 { 
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    background-color: rgba(104, 0, 255, 0.2);
                    display: block;
                    position: absolute;
                    top: 111px;
                    left: -170px;
                }

                .saturn { 
                    background-image: url('../img/bg/saturn.svg');
                    display: block;
                    position: absolute;
                    top: 580px;
                    left: 1270px;
                    width: 210px;
                    height: 104px;
                    background-repeat: no-repeat;
                }
                .rocket { 
                    background-image: url('../img/bg/rocket.svg');
                    display: block;
                    position: absolute;
                    top: 200px;
                    left: 914px;
                    width: 470px;
                    height: 470px;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    section#offer {
        .container {
            .row {
                &.subtitle {
                    h2 {
                        @include semibold();
                        font-size: 48px;
                        line-height: 62.4px;
                        text-align: center;
                        display: block;
                        width: 560px;
                        margin: 120px auto 124px;
                    }
                }
                &.texts {
                    p {
                        @include light();
                        color: #000;
                        font-size: 20px;
                        line-height: 31.6px;
                        margin: 0 0 45px 0;

                        &.highlight {
                            @include semibold();
                            color: #6800FF;
                            margin: 0 0 .5em 0;
                        }
                    }
                }
            }
        }
    }

    section#mentors {
        .container {
            .row {
                &.subtitle {
                    h2 {
                        @include semibold();
                        font-size: 48px;
                        line-height: 62.4px;
                        text-align: center;
                        display: block;
                        width: 560px;
                        margin: 120px auto 124px;
                    }
                }
                &.mentors {
                    div {
                        text-align: center;
                        margin-bottom: 112px;
                        p, img {
                            @include light();
                            text-align: center;
                        }
                        .name {
                            @include semibold();
                            font-size: 16px;
                            line-height: 22px;
                        }
                        .icon-wrapper {
                            width: fit-content;
                            display: block;
                            margin: auto;
                            height: 20px;
                            .icon {
                                width: 16px;
                                height: 16px;
                                float: left;
                                &.linkedin {
                                    background-image: url('../img/social/lk-black.svg');
                                }
                                &.website {
                                    background-image: url('../img/social/website.svg');
                                }
                            }
                            .position {
                                font-size: 14px;
                                line-height: 22px;
                                float: left;
                                margin: 0 0 0 5px;
                            }
                        }
                        .clear {
                            display: block;
                            clear: both;
                        }
                        .description {
                            font-size: 16px;
                            line-height: 24px;
                            margin: 26px 0 0;
                        }
                    }
                }
                &.button {
                    margin-bottom: 124px;
                }
            }
        }

    }

    section#reqs {
        padding-bottom: 81px;
        background-color: #222222;
        .container {
            .row {
                &.subtitle {
                    h2 {
                        @include semibold();
                        font-size: 48px;
                        line-height: 62.4px;
                        text-align: center;
                        display: block;
                        width: 560px;
                        margin: 120px auto 124px;
                        color: #fff;
                    }
                    h3 {
                        @include semibold();
                        font-size: 24px;
                        line-height: 31px;
                        text-align: center;
                        display: block;
                        width: 560px;
                        margin: 120px auto 124px;
                        color: #000;
                    }
                }
                &.solutions {
                    margin-bottom: 87px;
                    .left {
                        /*bold*/
                        @include semibold();
                        font-size: 20px;
                        line-height: 24px;
                        text-align: center;
                        color: #000;
                        p {
                            &:hover {
                                cursor: pointer;
                                color: #6800FF;
                            }
                            &.selected {
                                color: #6800FF;
                            }
                        }

                        hr {
                            display: block; 
                            height: 1px;
                            border: 0; 
                            border-top: 1px solid #222222;
                            margin: 1em 0; 
                            padding: 0;
                        }
                    }
                    .right {
                        @include light();
                        font-size: 16px;
                        line-height: 22px;
                        li {
                            margin-bottom: 9px;
                        }
                    }
                    .arrow-solutions {
                        width: 27.2px;
                        height: 41.2px;
                        margin-top: 140px;
                        margin-left: 70px;
                        cursor: pointer;
                        background-position: center;
                        background-image: url('../img/ui/arrow-solutions.svg');
                        transition: ease .5s;
                        &:hover {
                            cursor: pointer;
                            transform: scale(1.2);
                            transition: ease .5s;
                        }
                    }
                }
                &.themes {
                    margin-bottom: 81px;
                    background-color: #fff;
                }
            }
            .req {
                .num {
                    @include semibold();
                    font-size: 34px;
                    line-height: 51px;
                    color: #FF2C34;
                    float: left;
                }
                .text {
                    @include light();
                    font-size: 16px;
                    line-height: 22px;
                    color: #fff;
                    float: left;
                    margin-left: 20px;
                    width: 427px;
                    height: 100px;
                    margin-bottom: 30px;
                }

                .clear {
                    clear: both;
                }
            }
        }
    }

    section#how {
        background: linear-gradient(0.25turn, #6716ff, #6a15fa, #7313ee, #8210da, #950dc2);
        .container {
            .row {
                &.subtitle {
                    h2 {
                        @include semibold();
                        font-size: 48px;
                        line-height: 62.4px;
                        text-align: center;
                        display: block;
                        width: 560px;
                        margin: 120px auto 124px;
                        color: #fff;
                    }
                }
                &.item {
                    color: #fff;
                    .phase {
                        line-height: 31px;
                        text-align: right;
                        .date {
                            /*bold*/
                            @include semibold();
                            font-size: 20px; 
                        }
                        .text {
                            @include semibold();
                            font-size: 24px;
                        }
                    }
                    .num {
                        .circle {
                            @include semibold();
                            font-size: 40px;
                            line-height: 62px;
                            text-align: center;
                            width: 106px;
                            height: 106px;
                            color: #6800FF;
                            background-color: #fff;
                            border-radius: 50%;
                            border: 2px solid #FF2C34;
                            margin: 0 auto 72px;
                            &.regular {
                                &:after {
                                    position: absolute;
                                    display: block;
                                    border: 1px solid #FF2C34;
                                    content: "o";
                                    color: transparent;
                                    width: 1px;
                                    height: 73px;
                                    left: 136px;
                                    top: 106px;
                                }
                            }
                            &.last {
                                &:after {
                                    position: absolute;
                                    border: none;
                                }
                            }
                            p {
                                margin: 22px 0 0;
                            }
                        }
                    }
                    .description {
                        @include light();
                        font-size: 20px;
                        line-height: 31px;
                        text-align: left;
                    }
                }
                &.button {
                    padding-bottom: 73.4px;
                }
            }
            .separator {
                margin-bottom: 87px;
            }
        }
    }

    section#faq {
        background-color: #fff;
        .container {
            .row {
                &.subtitle {
                    h2 {
                        @include semibold();
                        font-size: 48px;
                        line-height: 62.4px;
                        text-align: center;
                        display: block;
                        width: 560px;
                        margin: 120px auto 16px;
                        color: #000;
                    }
                    h3 {
                        @include semibold();
                        font-size: 34px;
                        line-height: 51px;
                        color: #6800FF;
                        margin: 0 auto 124px;
                        text-align: center;
                        display: block;
                    }
                }
                &.items {
                    .item {
                        font-size: 20px;
                        line-height: 62.4px;
                        color: #000;
                        position: relative;
                        .icon {
                            font-size: 50px;
                            line-height: 1em;
                            color: #6800FF;
                            cursor: pointer;
                            user-select: none;
                            position: absolute;
                            right: 7px;
                            top: 0;
                        }      
                        .question {
                            @include semibold();
                        }
                        .answer {
                            @include light();
                            &.collapsed {
                                height: 1px;
                                overflow: hidden;
                            }
                            &.expanded {
                                height: auto;
                            }
                        }
                        hr {
                            display: block; 
                            height: 1px;
                            border: 0; 
                            border-top: 1px solid #222222;
                            margin: 1em 0; 
                            padding: 0;
                        }
                    }
                }
                &.button {
                    padding-bottom: 104px;
                }
            }
            .separator {
                margin-bottom: 267px;
            }
        }
    }

    section#subs {
        background-color: #222222;
        .container {
            .row {
                &.subtitle {
                    h2 {
                        @include semibold();
                        font-size: 48px;
                        line-height: 62.4px;
                        text-align: center;
                        display: block;
                        margin: 120px auto 16px;
                        color: #fff;
                        margin-bottom: 89px;
                    }
                }
                &.fields {
                    .field {
                        @include light();
                        label {
                            font-size: 14px;
                            line-height: 18px;
                            color: #fff;
                            display: block;
                            margin-bottom: 8px;
                        }
                        input, select, textarea {
                            font-size: 14px;
                            line-height: 18px;
                            border-radius: 8px;
                            color: #000;
                            border: none;
                            width: 461px;
                            margin-bottom: 16px;
                            padding: 10px;
                            box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.1);
                        }
                        #proposition {
                            min-height: 40px;
                            height: 160px;
                            max-height: 300px;
                            min-width: 460px;
                            max-width: 460px;
                        }
                        input, select {
                            height: 40px;
                        }
                    }
                }
                &.button {
                    margin-top: 62px;
                    margin-bottom: 137px;
                }
            }
        }
    }

    section#about {
        background-color: #222222;
        padding-bottom: 106px;
        .container {
            .row {
                &.subtitle {
                    h2 {
                        @include semibold();
                        font-size: 48px;
                        line-height: 62.4px;
                        text-align: center;
                        display: block;
                        margin: 120px auto 16px;
                        color: #fff;
                        margin-bottom: 89px;
                    }
                }
                &.logo {
                    text-align: center;
                    margin-bottom: 57px;
                }
                &.text{
                    @include light();
                    font-size: 20px;
                    line-height: 31.6px;
                    color: #fff;
                }
            }
        }
    }

    section#footer {
        background-color: #222222;
        padding-bottom: 95.2px;
        .name-red {
            p {
                @include semibold();
                text-align: left;
                font-size: 24px;
                line-height: 31.6px;
                color: #FF2C34;
                float: left;
                margin: 0 36px 0 0;
            }
            img {
                float: left;
            }
        }
        .social {
            a {
                text-decoration: none;
            }
            img {
                margin-right: 15px;
                width: 18px;
                height: 18px;
            }
        }
    }

    .button-sub {
        @include semibold();
        width: 220px;
        height: 40px;
        border-radius: 32px;
        border: none;
        color: #fff;
        line-height: 40px;
        align-items: center;
        outline: none;
        padding: 0 34px;
        transition: ease .5s;

        a {
            color: inherit;
            text-decoration: none;
        }


        &.gradient {
            background: linear-gradient(0.25turn, #6716ff, #6a15fa, #7313ee, #8210da, #950dc2);
            background-position: 0;
            &:hover {
                cursor: pointer;
                background-position: -220px;
                transition: ease .5s;
            }
        }

        &.red {
            background-color: #FF2C34;
            &:hover {
                cursor: pointer;
                background: #222222;
                transition: ease .5s;
            }
        }
    }

}

